.episodes {
  padding-top: 53px;
  padding-bottom: 160px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__title {
    color: $white;
    font-family: $ff;
    font-size: 64px;
    font-weight: $fw-regular;
    line-height: 79.2px;
    letter-spacing: 2.88px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  &__item {
    display: flex;
    padding: 40px;
    width: 1300px;
    gap: 53px;
    border-radius: 32px;
    background-color: $black;

    &_info {
      width: 757px;
    }

    &_category {
      padding: 5px 16px;
      margin-top: 7px;
      margin-bottom: 38px;
      display: inline-block;
      color: $white;
      font-family: $ff;
      font-size: $fs-lg;
      font-weight: $fw-regular;
      line-height: 27px;
      border-radius: 6px;
      background: #191919;
    }

    &_episode {
      margin-bottom: 18px;
      display: block;
      color: $blue;
      font-family: $ff;
      font-size: 17px;
      font-weight: $fw-regular;
      line-height: 27px;
    }

    &_title {
      margin-bottom: 28px;
      width: 689px;
      color: $white;
      font-family: $ff;
      font-size: 64px;
      font-weight: $fw-regular;
      line-height: 1.1;
      letter-spacing: 2.56px;
    }

    &_text {
      margin-bottom: 18px;
      color: rgba(255, 255, 255, 0.70);
      font-family: $ff;
      font-size: 22px;
      font-weight: $fw-regular;
      line-height: 1.5;
    }

    &_image {
      width: 389px;
      height: 465px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}