.feedbacks {
  padding-block: 50px;

  @media all and (min-width: 790px) {
    padding-block: 70px;
  }

  @media all and (min-width: 1200px) {
    padding-block: 100px;
  }

  &__item {
    padding: 25px;
    display: flex;
    flex-direction: column;
    min-height: 364px;
    max-width: 423px;
    background-color: $black;
    border-radius: 32px;

    @media all and (min-width: 790px) {
      padding: 30px;
    }

    @media all and (min-width: 1200px) {
      padding: 50px;
    }

    &_grade {
      margin-bottom: 21px;
    }

    &_description {
      margin-bottom: 19px;
      color: #FFF;
      font-family: $ff;
      font-size: 28px;
      font-style: normal;
      font-weight: $fw-regular;
      line-height: 1.2;

      @media all and (min-width: 790px) {
        font-size: 32px;
      }

      @media all and (min-width: 1200px) {
        font-size: 36px;
      }
    }

    &_name {
      color: rgba(255, 255, 255, 0.70);
      font-family: $ff;
      font-size: 18px;
      font-style: normal;
      font-weight: $fw-regular;
      line-height: 1.2;

      @media all and (min-width: 790px) {
        font-size: 22px;
      }

      @media all and (min-width: 1200px) {
        font-size: 24px;
      }
    }
  }
}