.feedbacks {
  padding-block: 100px;

  @media all and (min-width: 320px) {
    padding-block: 50px;
  }

  @media all and (min-width: 790px) {
    padding-block: 70px;
  }

  @media all and (min-width: 1200px) {
    padding-block: 100px;
  }


  &__item {
    max-width: 423px;
    height: 364px;
    background-color: $black;
    border-radius: 32px;

    @media all and (min-width: 320px) {
      padding: 25px;
    }

    @media all and (min-width: 790px) {
      padding: 30px;
    }

    @media all and (min-width: 1200px) {
      padding: 50px;
    }

    &_grade {
      margin-bottom: 21px;
    }

    &_description {
      margin-bottom: 19px;
      color: #FFF;
      font-family: $ff;
      font-size: 36px;
      font-style: normal;
      font-weight: $fw-regular;
      line-height: 1.2;
    }

    &_name {
      color: rgba(255, 255, 255, 0.70);
      font-family: $ff;
      font-size: 24px;
      font-style: normal;
      font-weight: $fw-regular;
      line-height: 1.2;
    }
  }
}