.information {
  padding-block: 100px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 94px;
  }

  &__about {
    &_button {
      padding-top: 24px;
      padding-right: 24px;
      padding-left: 24px;
      padding-bottom: 40px;
      margin-bottom: 20px;
      width: 112px;
      height: 112px;
      transform: rotate(270deg);
      background-color: $blue;
      border-radius: 50%;
      border: none;
      cursor: pointer;

      &:hover {
        transition: background ease-out $tr;
        background: #29b3d3;
      }
    }

    &_host {
      color: $blue;
      font-family: $ff;
      display: block;
      font-size: $fs-lg;
      font-weight: $fw-regular;
      line-height: 1.5;
    }

    &_name {
      margin-bottom: 28px;
      color: $white;
      font-family: $ff;
      font-size: 65px;
      font-weight: $fw-regular;
      line-height: 1.2;
      letter-spacing: 2.88px;
    }

    &_description {
      margin-bottom: 33px;
      color: rgba(255, 255, 255, 0.70);
      width: 556px;
      font-family: $ff;
      font-size: 22px;
      font-weight: $fw-regular;
      line-height: 1.5;

      	&:last-of-type {
      		margin-bottom: 0
      	}
    }
  }

  &__image {
    border-radius: 12px;
  }
}