.subscribe {
  padding-block: 60px;

  @media all and (min-width: 790px) {
    padding-block: 70px;
  }

  @media all and (min-width: 1200px) {
    padding-block: 100px;
  }

  &__wrapper {
    padding: 35px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 32px;
    background-color: $black;

    @media all and (min-width: 790px) {
      padding: 40px;
      flex-direction: row;
    }

    @media all and (min-width: 1200px) {
      padding: 60px;
    }

    &:before {
      position: absolute;
      display: block;
      content: "";
      width: 147px;
      height: 91px;
      bottom: -37px;
      left: -10px;
      z-index: 1;
      background-image: url("../../img/subscribe/sticks.png");

      @media all and (min-width: 790px) {
        width: 147px;
        height: 91px;
        bottom: -30px;
        left: -30px;
      }

      @media all and (min-width: 1200px) {
        width: 147px;
        height: 91px;
        bottom: -30px;
        left: -37px;
      }
    }
  }

  &__info {
    &_letter {
      color: $blue;
      font-family: $ff;
      font-size: $fs-lg;
      font-weight: $fw-regular;
      line-height: 1.5;
    }

    &_title {
      margin-bottom: 15px;
      color: $white;
      max-width: 431px;
      font-family: $ff;
      font-size: 28px;
      font-weight: $fw-regular;
      line-height: 1.1;
      letter-spacing: 2.88px;

      @media all and (min-width: 790px) {
        font-size: 58px;
      }

      @media all and (min-width: 1200px) {
        font-size: 72px;
      }
    }
  }

  &__form {
    display: block;
    max-width: 522px;

    &_input {
      margin-bottom: 20px;
      padding: 12px 14px;
      width: 100%;
      color: rgba(255, 255, 255, 0.70);
      font-family: $ff;
      font-size: 24px;
      font-weight: $fw-regular;
      line-height: 1.2;
      border-radius: 6px;
      background: #191919;
      border: none;

      @media all and (min-width: 790px) {
        padding: 18px 16px;
      }

      @media all and (min-width: 1200px) {
        padding: 26px 19px;
      }
    }
  }
}