.header {
  padding-block: 43px;

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 40px;

    @media all and (min-width: 320px) {
      display: none;
    }

    @media all and (min-width: 790px) {
      display: flex;
    }

    &_item a {
      color: $white;
      font-family: $ff;
      font-size: 17px;
      font-weight: $fw-regular;
      line-height: 27px;
      text-decoration: none;

      &:hover {
        color: $blue;
      }

    }

  }

}