.footer {
  padding-top: 40px;
  padding-bottom: 62px;

  @media all and (min-width: 790px) {
    padding-top: 70px;
    padding-bottom: 86px;
  }

  @media all and (min-width: 1200px) {
    padding-top: 100px;
    padding-bottom: 116px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @media all and (min-width: 480px) {
      gap: 0px;
    }
  }

  &__network {
    margin-right: 10px;

    &:last-of-type {
      margin: 0;
    }
  }

  &__socials {
    margin-bottom: 30px;

    @media all and (min-width: 399px) {
      margin-right: 69px;
    }

    @media all and (min-width: 790px) {
      margin-bottom: 0px;
      margin-right: 239px;
    }
  }

  &__logo {
    @media all and (min-width: 790px) {
      margin-bottom: 23px;
    }
  }

  &__item {
    margin-right: 127px;
    &_link {
      margin-bottom: 12px;
      a {
        margin-bottom: 12px;
        color: $white;
        font-family: $ff;
        font-size: 17px;
        font-weight: $fw-regular;
        line-height: 1.5;
        text-decoration: none;

        &:hover {
          color: $blue;
        }
      }
      &:last-of-type {
        margin: 0;
      }
    }

    &_social {
      margin-right: 17px;

      &:last-of-type {
        margin: 0;
      }
    }

    &:last-of-type {
      margin: 0;
    }

  }
}