.button {
  padding: 12px 20px;
  color: $white;
  font-family: $ff;
  font-size: 17px;
  font-weight: $fw-regular;
  line-height: 27px;
  border-radius: 6px;
  background-color: $blue;
  cursor: pointer;
  border: none;

  &:hover {
    transition: background-color ease-out $tr;
    background-color: #29b3d3;
  }
}