.button {
  padding: 12px 20px;
  color: $white;
  font-family: $ff;
  font-size: 17px;
  font-weight: $fw-regular;
  line-height: 27px;
  border-radius: 6px;
  background-color: #118DA8;
  cursor: pointer;
}